<section class="p-5 bg-main-light">
  <div class="container-fluid">
    <h2 class="h5 fw-bold">Get the FreshCart app</h2>
    <p class="bg-main-light">We will send you a link, open it on your phone to download the app.</p>
    <div class="container">
        <div class="d-flex m-auto justify-content-between gap-4">
            <input type="email" placeholder="Email...." class="form-control" />
            <button class="w-25 btn-main">Share App Link</button>
          </div>
          <hr>
    </div>
  </div>
</section>
